

:root{

    --color-text-primary:#ab28ca;
    --color-text-secundary:#0d1720;
    --color-text-ter:#485663;
    --main-color-primary:#9a00bf;
    --main-color-secundary:#f4d4fb;
    --background-color:#fafbfe;
    --lower-text-size:16px;
    --tex-tittle:48px;
    --text-tittle-card:24px;    
    --text-tittle-cv2:20px;
    --text-paragram:16px;
    --font-prin:'Passion One', cursive;
    --color-btn-prin:#9a00f9;
    --color-pri-shadow:0px 0px 105px 45px rgba(227,46,255,0.9);;
    --color-sec-shadow:0px 0px 105px 45px rgba(236, 172, 32, 0.952);
    --color-ter-shadow: 0px 10px 30px 10px rgba(46,255,196,0.9);
    --color-sec:rgb(227, 46, 255);
    --color-sec-2:  rgb(255, 190, 61);;
    --color-sec-ter:rgb(46, 255, 196);
        /* otras variables posibles a utilizar
        
        #315579
font-family: 'Anybody', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Passion One', cursive;
font-family: 'Poppins', sans-serif;


        
        */

}


.cover{transition: all .9s ease;}


/*------------- inicio lado derecho container main 2daprte--------- */
.container-img{
    width: 40%;
   padding: 100px;
}


.img-stacks img{
    width: 500px;
  
  }

.sd-stacks{
    border: 0 0 40px 40px ;
    align-items: center;
    width: 60%;
    margin: 0;
    padding: 0;
}
    
.content-stack{
    width: 750px;
    height: 800px;
    padding-right: 50px;
    margin-bottom: 50px;
    
  }
    
    
    .stacks{
        background: #0d1720c7;
        border: 2px solid var(--color-sec-ter);
       
        padding-bottom: 50px;
        overflow: hidden;
        width: 100%;
        max-width: 480px;
        height: 100%;
        max-height:480px;
        display: flex;
        flex-flow: row wrap;
        justify-content:center;
        align-items: center;
        align-content: flex-start;
       }
    
    
    .infor-sd{
        width: 100%;
        height: 100%;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       
        border: 1px solid var(--box_shadow-primary);
       margin: 5px;
       padding: 5px;
    }


.border-move{
    border-radius:50%;
    animation: shine 500ms infinite linear;
    overflow: hidden;
    cursor: pointer;
    margin:15px;
   width: 110px;
    height: 110px;
    transform: rotate(45deg);
}



.bor-mov{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
      transform:rotateX(45deg);
}

.bor-mov:hover{
box-shadow: var(--color-pri-shadow);

}

footer{
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    bottom:0;
}

.coyright{
padding-left: 40%;
margin: 0;
padding-top:100px;

}


.border-move::before{
    content: '';
    position:absolute ;
    inset: 2px;
    background:var(--color-text-secundary) ;
    
    }
    
    .border-move img{
        width: 90px;
        height: 90px;
        transform: rotate(-45deg);
    }
    
    .border-move img:hover{
        scale: 1.7;
        
    }

    
    .border-move span{
    position: relative;
    z-index: 1;
   
    }
    
    
    .border-move i{
        width: 100%;
        height: 100%;
        position: absolute;
        inset:0;
        display:block;
    }
    
    .border-move::before{
        background: red;
        animation: imgcovermove 2s infinite linear;
        content: '';
        width: 5px;
        height: 15px;
        overflow: hidden;
        left: 80%;
        transform: translate(-50%);
        position: absolute;
        border:2px solid var(--background-color);
        background: var(--color-text-secundary);
        transition: .5s ease;
      }
    
    
    
    
      .border-move:after{
        animation: imgcovermove2 3s infinite linear; 
        content: '';
        width: 10px;
        height: 5px;
        right: 80%;
        bottom:-3.5px;
        position: absolute;
        border:2px solid var(--background-color);
        background: var(--color-text-secundary);
        transition: .5s ease;
      }
    
      .border-move:hover i::after{
        
        border:3px solid #9a00bf;
        width: 20%;
        left: 80%;
      }

      @keyframes imgcovermove{

        
0%{
    left: 0;
    top: 0;
    
        border:3px solid var(--color-btn-prin);
    }
    
    25%{
    
      left: 0;
      top: 100%;
    
    }
    
    50%{
        border: none;
      left: 99%;
      top: 100%;
    
    }
    
    75%{
        border: none;
      left:99%;
      top: 0;
    
    }
    
    100%{
        
        border:3px solid var(--color-btn-prin);
    
     
      left:0;
     top: 0;
    }
    
    


      }
     
    
    
     @keyframes imgcovermove2{

        
        0%{
            right:0;
            top: 0;
            
        border:3px solid var(--color-btn-prin);
            }
            
            25%{
            
              
            right: 0;
              top: 100%;
            
            }
            
            50%{
            border: none;
              
            right:  99%;
              top: 100%;
            
            }
            
            75%{
            
              
        border:3px solid var(--color-btn-prin);
            right: 99%;
              top: 100%;
            
            }
            
            100%{
            
             border: none;
              right:99%;
             bottom:0;
            }
            
        
        
              }
    
            